{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-md-6">
        <div class="card">
            {% if apartment.image %}
                <img src="{{ apartment.image.url }}" class="img-fluid" alt="{{ apartment.title }}">
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <h2>{{ apartment.title }}</h2>
        <p>{{ apartment.description }}</p>
        <p><strong>Локація:</strong> {{ apartment.location }}</p>
        <p><strong>Ціна за ніч:</strong> {{ apartment.price }} грн</p>
        <a href="{% url 'booking_page' apartment.id %}" class="btn btn-primary">Забронювати</a>
    </div>
</div>
{% endblock content %}


